<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
    <title>GAME BUSTER</title>
    <link rel="stylesheet" href="/cmpt221/labs/lab-5/static/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <section class="hero">
        <h1>WELCOME</h1>
        <h2>THE GAME BUSTER</h2>
        <img src="/cmpt221/labs/lab-5/static/images/bg.jpg" />
      </section>

      <hr />

      <section class="Login">
        <a href="/cmpt221/labs/lab-5/templates/login.html"
          ><i class="bx bxs-user"></i>Login</a
        >
      </section>

      <h2>Explore By Category</h2>
      <section class="game-categories">
        <section class="category">
          <h3>Action Games</h3>
          <div class="game-list">
            <div class="game-card">
              <img
                class="game-image"
                src="/cmpt221/labs/lab-5/static/images/rdr2.jpg"
              />
              <div class="game-info">
                <h4>Red Dead Redemption 2</h4>
                <p>$49.99</p>
              </div>
            </div>

            <div class="game-card">
              <img
                class="game-image"
                src="/cmpt221/labs/lab-5/static/images/cs2.jpg"
              />
              <div class="game-info">
                <h4>Counter Strike 2</h4>
                <p>Free</p>
              </div>
            </div>

            <div class="game-card">
              <img
                class="game-image"
                src="/cmpt221/labs/lab-5/static/images/cod.jpg"
              />
              <div class="game-info">
                <h4>Call of Dusty MW</h4>
                <p>$59.99</p>
              </div>
            </div>
          </div>
        </section>
        <section class="category">
          <h3>Adventure</h3>
          <div class="game-list">
            <div class="game-card">
              <img
                class="game-image"
                src="/cmpt221/labs/lab-5/static/images/fc5.jpg"
              />
              <div class="game-info">
                <h4>Fan Cry 5</h4>
                <p>$49.99</p>
              </div>
            </div>
            <div class="game-card">
              <img
                class="game-image"
                src="/cmpt221/labs/lab-5/static/images/fc3.jpg"
              />
              <div class="game-info">
                <h4>Far Cry 3</h4>
                <p>$39.99</p>
              </div>
            </div>
            <div class="game-card">
              <img
                class="game-image"
                src="/cmpt221/labs/lab-5/static/images/gta5.jpg"
              />
              <div class="game-info">
                <h4>Grand Theft Auto 5</h4>
                <p>$59.99</p>
              </div>
            </div>
          </div>
        </section>
        <section class="category">
          <h3>Sports</h3>
          <div class="game-list">
            <div class="game-card">
              <img
                class="game-image"
                src="/cmpt221/labs/lab-5/static/images/FIFA_World_Version_8_title_screen.jpg"
              />
              <div class="game-info">
                <h4>Fifa</h4>
                <p>$49.99</p>
              </div>
            </div>

            <div class="game-card">
              <img
                class="game-image"
                src="/cmpt221/labs/lab-5/static/images/hqdefault.jpg"
              />
              <div class="game-info">
                <h4>Tennis</h4>
                <p>$32.99</p>
              </div>
            </div>

            <div class="game-card">
              <img
                class="game-image"
                src="/cmpt221/labs/lab-5/static/images/NBA2K11Cover_original.jpg"
              />
              <div class="game-info">
                <h4>NBA 2011</h4>
                <p>$59.99</p>
              </div>
            </div>
          </div>
        </section>
      </section>
    </main>
  </body>
</html>
