@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

main {
  padding: 20px;
}

main h2 {
  padding-left: 10px;
  font-size: 60px;
  padding: 0;
  margin: 10px;
  margin-top: 30px;
  font-weight: 100;
  color: #a9a6a6;
}

.Login a {
  padding-right: 10px;
  text-decoration: none;
  font-size: 60px;
  margin-right: 20px;
  padding: 0;
  margin-top: 30px;
  font-weight: 100;
  color: #a9a6a6;
}

.Login a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
}

.hero {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  overflow: hidden;
}

.hero img {
  position: absolute;
  object-fit: contain;
  overflow: hidden;
  z-index: -3;
  bottom: -1700px;
  left: -500px;
  filter: blur(5px);
}

.hero h1 {
  color: rgb(0, 0, 0);
  padding: 0;
  margin: 0;
  font-size: 50px;
  padding-left: 10px;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.826);
  font-weight: 300;
}

.hero h2 {
  color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  font-size: 50px;
  padding-left: 10px;
  padding-bottom: 10px;
  text-shadow: 0px 0px 5px rgba(40, 40, 40, 0.65);
  font-weight: 600;
}

.game-categories {
  display: flex;
  flex-direction: column;
}

.category {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.category h3 {
  font-size: 30px;
  margin: 0;
  margin-bottom: 10px;
  color: #fff;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  gap: 10px;
}

.game-card {
  position: relative;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
  flex: 1;
  max-width: 800px;
}

.game-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 70ms ease-in-out;
}

.game-image:hover {
  transform: scale(1.009);
}

.game-info {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.game-info h4 {
  font-size: 25px;
  color: white;
  padding: 0;
  margin: 0;
  text-shadow: 0px 0px 5px rgb(54, 54, 54);
}

.game-info p {
  color: white;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  text-shadow: 0px 0px 5px rgb(54, 54, 54);
}

hr {
  border: 1px solid #ccc;
  margin: 10px;
}
